.weather h1, .weather h3 {
	text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.weather h1 {
  font-size: 5rem;
  color: #333;
}

.weather-icon {
  font-size: 8rem;
	line-height: 0.8;
  text-align: center;
}

.temp {
  font-weight: bold;
  color: #286090;
	cursor: pointer;
}

.alert {
  padding: 10px;
  margin: 10px;
}
